@import url(https://fonts.googleapis.com/css?family=Montserrat:500,800);

body *
{
    transition: all .5s;
}
body
{
    margin: 0;
    padding: 30px;
    min-height: 100vh;
    font-family: Montserrat;
}
h2 /* subhead */
{
    font-size: calc(1em + 1vmin);
    font-weight: 800;
    text-align: center;
    margin: 0;
/*    color: #fff;*/
}
h3 /* bold p */
{
    font-size: calc(.75em + .5vmin);
    margin: 0;
    text-align: left;
/*    color: #fff;*/
}
h4 /* thin subhead */
{
    font-size: calc(1em + 1vmin);
    font-weight: 500;
    text-align: center;
    margin: 0;
/*    color: #fff;*/
}
p /* copy text */
{
    font-size: calc(.75em + .5vmin);
    font-weight: 500;
    text-align: left;
/*    color: #fff;*/
    margin: 0;
}
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.block
{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.block .head
{
    width: 150px;
    margin: 0 auto;
}
.block h2
{
    width: 150px;
    height: 50px;
    line-height: 50px;
}

.block ul .day
{
    height: 50px;
    overflow: hidden;
}
.block ul .day h3
{
    height: 50px;
    line-height: 50px;
}

.open
{
    height: auto !important;
}

.curcit .slick-slide h3,
.curcit .slick-slide p,
.curcit .slick-slide img
{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.curcit .slick-slide
{
    opacity: 0;
}

.curcit .slick-current
{
    opacity: 1;
}
